@charset "utf-8";

.wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: url(../img/sub3.jpg) top;
}

.farming img:first-child {
    position: absolute;
    left: 750px;
    bottom: 50px;
}

.farming .farmer {
    position: absolute;
    width: 330px;
    height: 550px;
    background: url(../img/farmer.png) no-repeat;
    left: 450px;
    top: 150px;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
}

.farming .farmer.on {
    background: url(../img/farmer_on.png) no-repeat;
}

.speech>img:first-child {
    position: absolute;
    left: 400px;
    top: 300px;
}

.speech>img:first-child.on {
    display: none;
}

.arrow a:first-child img {
    position: absolute;
    left: 50px;
    top: 850px;
}